In [1]:
import pandas as pd
import numpy as np
import glob

import pandas as pd
import numpy as np
import glob

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
# convert 'Account' column to upper case
acct_desc = pd.read_csv(r'C:\Users\Family PC\Desktop\pythonfiles\callreport\AcctDesc.txt')
acct_desc['Account'] = acct_desc['Account'].str.upper()

In [3]:
# get data file names
path = r'C:\Users\Family PC\Desktop\pythonfiles\callreport' 
filenames = glob.glob(path + "/*.xlsx")

dfs = [] # an empty list to store the dataframes

for filename in filenames:
    df = pd.read_excel(filename) # read excel file
    dfs.append(df) # append to list

# concatenate all dataframes in the list and sort by CU_NUMBER and CYCLE_DATE
big_df = pd.concat(dfs, ignore_index=True)
big_df['CYCLE_DATE'] = pd.to_datetime(big_df['CYCLE_DATE']) #format='%m/%d/%Y',errors='coerce'
big_df = big_df.sort_values(['CU_NUMBER', 'CYCLE_DATE']).reset_index()

big_df['Prior_Year'] = big_df['CYCLE_DATE'].apply(lambda x: x.year - 1)

big_df = big_df.dropna(subset=['CU_NAME'])

In [4]:
# filter big_df for rows where CYCLE_DATE is a 12/31 date
dec_31_df = big_df[big_df['CYCLE_DATE'].dt.month == 12] 

# select only the CU_NUMBER, CYCLE_DATE, and ACCT_010 columns
dec_31_df = dec_31_df[['CU_NUMBER', 'CYCLE_DATE', 'ACCT_010']] 

# add a new column for the year of the CYCLE_DATE
dec_31_df['Year'] = dec_31_df['CYCLE_DATE'].dt.year

In [5]:
# create a DataFrame with only the necessary columns from dec_31_df
dec_31_assets = dec_31_df[['CU_NUMBER', 'Year', 'ACCT_010']].copy()

# add a Cycle_Year column to dec_31_assets
dec_31_assets['Cycle_Year'] = dec_31_assets['Year'] + 1

# rename ACCT_010 to ACCT_010_y in dec_31_assets
dec_31_assets = dec_31_assets.rename(columns={'ACCT_010': 'PYE_Assets'})

# convert Year to int
dec_31_assets['Year'] = dec_31_assets['Year'].astype(int)

# add a CYCLE_DATE column to dec_31_assets with December 31 of the Year
dec_31_assets['CYCLE_DATE'] = pd.to_datetime(dec_31_assets['Year'].astype(str) + '-12-31')

In [6]:
# create Cycle_Year column in big_df based on the year of CYCLE_DATE
big_df['Cycle_Year'] = big_df['CYCLE_DATE'].dt.year

# merge big_df with dec_31_assets on CU_NUMBER and Cycle_Year
big_df = big_df.merge(dec_31_assets[['CU_NUMBER', 'Cycle_Year', 'PYE_Assets']], on=['CU_NUMBER', 'Cycle_Year'], how='left')

# if PYE_Assets is not already in big_df, add it
if 'PYE_Assets' not in big_df.columns:
    big_df['PYE_Assets'] = np.nan

# calculate Average_Assets
big_df['Average_Assets'] = (big_df['ACCT_010'] + big_df['PYE_Assets']) / 2

In [7]:
# make all column names uppercase
big_df.columns = map(str.upper, big_df.columns)

# modify column names
new_col_names = {}
for col in big_df.columns:
    if col != 'ACCOUNT': # skip the 'Account' column
        # get the corresponding account name from the AcctDesc.txt file
        try:
            acct_name = acct_desc[acct_desc['Account'] == col]['AcctName'].values[0]
        except IndexError:
            # handle index error if the account does not exist in AcctDesc.txt
            print(f"Warning: Account {col} does not exist in AcctDesc.txt")
            continue
        # blend the account name with the existing column name
        new_col_name = f"{acct_name} ({col})"
        new_col_names[col] = new_col_name

big_df.rename(columns=new_col_names, inplace=True)

big_df = big_df.drop('INDEX', axis=1)


# save the modified dataframe to csv
big_df.to_csv(r'C:\Users\Family PC\Desktop\pythonfiles\callreport\data\master_call_report_data.csv',index=False)

Warning: Account INDEX does not exist in AcctDesc.txt
Warning: Account CU_NUMBER does not exist in AcctDesc.txt
Warning: Account CYCLE_DATE does not exist in AcctDesc.txt
Warning: Account JOIN_NUMBER does not exist in AcctDesc.txt
Warning: Account CU_NAME does not exist in AcctDesc.txt
Warning: Account CITY does not exist in AcctDesc.txt
Warning: Account STATE does not exist in AcctDesc.txt
Warning: Account ACCT_AS0007 does not exist in AcctDesc.txt
Warning: Account ACCT_AS0008 does not exist in AcctDesc.txt
Warning: Account ACCT_AS0009 does not exist in AcctDesc.txt
Warning: Account ACCT_AS0013 does not exist in AcctDesc.txt
Warning: Account ACCT_AS0016 does not exist in AcctDesc.txt
Warning: Account ACCT_AS0017 does not exist in AcctDesc.txt
Warning: Account ACCT_AS0036 does not exist in AcctDesc.txt
Warning: Account ACCT_DL0002 does not exist in AcctDesc.txt
Warning: Account ACCT_DL0030 does not exist in AcctDesc.txt
Warning: Account ACCT_DL0037 does not exist in AcctDesc.txt
Warning: Account PRIOR_YEAR does not exist in AcctDesc.txt
Warning: Account CYCLE_YEAR does not exist in AcctDesc.txt
Warning: Account PYE_ASSETS does not exist in AcctDesc.txt
Warning: Account AVERAGE_ASSETS does not exist in AcctDesc.txt

In [8]:
big_df.head(10)

,CU_NUMBER,CYCLE_DATE,JOIN_NUMBER,CU_NAME,CITY,STATE,TOTAL ASSETS (ACCT_010),Total Amount of Shares (ACCT_013),Total number of Loans and Leases (ACCT_025A),Total amount of Loans and Leases (ACCT_025B),Amount of Loans Granted Year-to-Date (ACCT_031B),Total Amount of Delinquent Loans & Leases (Two or more months) (ACCT_041B),Number of current members (not number of accounts) (ACCT_083),Provision for Loan & Lease Losses (ACCT_300),Interest on Borrowed Money (ACCT_340),Dividends on Shares (Includes dividends earned during current period) (ACCT_380),Non-Member Deposits (ACCT_457),Interest Rate of New Vehicle Loans (ACCT_523),Interest Rate of Used Vehicle Loans (ACCT_524),Total Amount of All Loans Charged Off Year-to-Date (ACCT_550),Net Income (unless the amount is already included in Undivided Earnings) (ACCT_602),Amount of Regular Shares (ACCT_657),Total Non-Interest Expense (Sum of items 18-27) (ACCT_671),Total Borrowings (ACCT_860C),Number of Used Vehicle Loans (ACCT_968),(Less) Interest Refunded (ACCT_119),Fee Income (ACCT_131),Employee Compensation and Benefits (ACCT_210),Travel and Conference Expense (ACCT_230),Office Occupancy Expense (ACCT_250),Office Operations Expense (ACCT_260),Educational and Promotional Expense (ACCT_270),Loan Servicing Expense (ACCT_280),Professional and Outside Services (ACCT_290),Member Insurance (ACCT_310),Operating Fees (Examination and/or supervision fees) (ACCT_320),Miscellaneous Operating Expenses (ACCT_360),Amount of Used Vehicle Loans (ACCT_370),Interest on Deposits (Total interest expense for deposit accounts) (SCU Only) (ACCT_381),Amount of New Vehicle Loans (ACCT_385),Amount of Unsecured Credit Card Loans (ACCT_396),Amount of All Other Unsecured Loans/Lines of Credit (ACCT_397),Number of Accounts for Share Drafts (ACCT_452),IRA/KEOGH Accounts (ACCT_453),Number of Accounts for Regular Shares (ACCT_454),All other shares (ACCT_455),Money Market Shares (ACCT_458),Number of Accounts for Total Shares and Deposits (Sum of items 15-16) (ACCT_460),Total Interest Income (ACCT_115),Total Non-Interest Income (ACCT_117),Total Interest Expense (Sum of items 6-8) (ACCT_350),Net Income (Loss) (line 11 plus line 17 less line 28) (ACCT_661A),Average of Daily Assets over the calendar quarter (ACCT_010A),Cash on Hand (Coin and Currency) (ACCT_730A),Total Cash on Deposit (Amounts Deposited in Financial Institutions) (ACCT_730B),Total Net Worth (ACCT_997),Net Worth Ratio (ACCT_998),Number of Outstanding Indirect Loans (ACCT_617A),Total Amount of Outstanding Indirect Loans (ACCT_618A),Total Shares (ACCT_966),Total Uninsured Member Shares and Deposits > $250K (A+A1+B+C+D+E) (ACCT_065A4),Total Uninsured Nonmember Shares and Deposits > $250K (G+H+I) (ACCT_067A2),Total Uninsured Shares and Deposits > $250K (F+J) (ACCT_068A),Total Insured Shares and Deposits > $250K (item 17 less item K) (ACCT_069A),Amount of Participation Loans Purchased Year-to-Date (ACCT_690),Amount of Participation Loans Sold Year-to-Date (ACCT_691),Cash on Deposit in Corporate Credit Unions (ACCT_730B1),Cash on Deposit in Other Financial Institutions (ACCT_730B2),Net Worth Classification if credit union is not new (Based upon Call Report data only. See instructions) (ACCT_700),Equity Acquired in Merger (ACCT_658A),Total Outstanding Amount of Participation Loans Purchased By Type (ACCT_691L),Total Value of Investments in CUSOs (ACCT_851),Total Amount Loaned to CUSOs (ACCT_852),Total Aggregate Cash Outlay in CUSOs (ACCT_853),Amount of Payday Alternative Loans (PAL loans) (ACCT_397A),Amount of Total Loans/Lines of Credit Secured by Junior Lien 1-4 Family Residential Properties (ACCT_386A),Amount of All Other Real Estate Loans/Lines of Credit (ACCT_386B),Cash on Deposit in the Federal Reserve Bank (ACCT_AS0003),Coin and Currency (ACCT_AS0004),Cash Items in Process of Collection (ACCT_AS0005),(CECL) indicator for early adoption of CECL (ACCT_AS0010),ACCT_AS0007,ACCT_AS0008,ACCT_AS0009,ACCT_AS0013,ACCT_AS0016,ACCT_AS0017,ACCT_AS0036,ACCT_DL0002,ACCT_DL0030,ACCT_DL0037,PRIOR_YEAR,CYCLE_YEAR,PYE_ASSETS,AVERAGE_ASSETS
0,1,2021-03-31,2,MORRIS SHEPPARD TEXARKANA,TEXARKANA,TX,9962035.0,8845928.0,857.0,7669886.0,774989.0,58770.0,1257.0,0.0,0.0,16399.0,0.0,299.0,825.0,6466.0,8711.0,6258150.0,87538.0,0.0,234.0,0.0,6553.0,41986.0,37.0,2817.0,38315.0,0.0,2002.0,800.0,0.0,0.0,1581.0,3026670.0,0.0,2260165.0,0.0,901631.0,329.0,0.0,1257.0,63.0,0.0,1733.0,95465.0,17183.0,16399.0,8711.0,0.0,101948.0,1059498.0,1108632.0,1112.0000,0.0,0.0,1733.0,0.0,0.0,0.0,8845928.0,0.0,0.0,794168.0,265330.0,Well Capitalized,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,101948.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,2021,NaN,NaN
1,1,2021-06-30,2,MORRIS SHEPPARD TEXARKANA,TEXARKANA,TX,10000520.0,8869340.0,847.0,7790371.0,2205604.0,54554.0,1255.0,281.0,0.0,30442.0,0.0,299.0,299.0,6983.0,23719.0,6511953.0,186803.0,0.0,229.0,0.0,14414.0,89556.0,107.0,6382.0,76035.0,311.0,4573.0,1584.0,0.0,5088.0,3167.0,3001461.0,0.0,2282438.0,0.0,827158.0,323.0,0.0,1317.0,0.0,0.0,1725.0,189993.0,51253.0,30442.0,23720.0,0.0,67326.0,1259965.0,1123641.0,1123.5826,0.0,0.0,1725.0,0.0,0.0,0.0,8869340.0,0.0,0.0,997618.0,262347.0,Well Capitalized,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67326.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,2021,NaN,NaN
2,1,2021-09-30,2,MORRIS SHEPPARD TEXARKANA,TEXARKANA,TX,10204499.0,9042594.0,852.0,7987486.0,3363185.0,48053.0,1256.0,230.0,0.0,44501.0,0.0,299.0,299.0,10572.0,56283.0,6668752.0,279856.0,0.0,228.0,0.0,22036.0,131842.0,156.0,9957.0,114292.0,429.0,6448.0,2226.0,0.0,10176.0,4330.0,2929296.0,0.0,2394318.0,0.0,823373.0,332.0,0.0,1318.0,0.0,0.0,1736.0,279453.0,101417.0,44501.0,56283.0,0.0,61527.0,1270477.0,1156204.0,1133.0336,0.0,0.0,1736.0,0.0,0.0,0.0,9042594.0,0.0,0.0,1017716.0,252761.0,Well Capitalized,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61527.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,2021,NaN,NaN
3,1,2021-12-31,2,MORRIS SHEPPARD TEXARKANA,TEXARKANA,TX,10732756.0,9580534.0,849.0,8141363.0,4638916.0,100149.0,1262.0,618.0,0.0,58504.0,0.0,299.0,299.0,10959.0,0.0,6997821.0,383282.0,0.0,231.0,0.0,32622.0,180539.0,156.0,13857.0,154527.0,1429.0,8694.0,3460.0,0.0,15264.0,5356.0,3059833.0,0.0,2348206.0,0.0,773985.0,330.0,0.0,1324.0,0.0,0.0,1741.0,367446.0,123689.0,58504.0,48731.0,0.0,100486.0,1621449.0,1148652.0,1070.2302,0.0,0.0,1741.0,0.0,0.0,0.0,9580534.0,0.0,0.0,1159470.0,461979.0,Well Capitalized,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100486.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,2021,NaN,NaN
4,1,2022-03-31,2,MORRIS SHEPPARD TEXARKANA,TEXARKANA,TX,11610842.0,10457145.0,846.0,8510200.0,1281778.0,62623.0,1261.0,259.0,0.0,14649.0,0.0,299.0,299.0,2857.0,1744.0,7698010.0,104163.0,0.0,243.0,0.0,8022.0,46721.0,400.0,3273.0,41040.0,455.0,2238.0,3356.0,0.0,5094.0,1586.0,3380392.0,0.0,2360234.0,0.0,718386.0,344.0,0.0,1325.0,0.0,0.0,1761.0,92267.0,28548.0,14649.0,1744.0,0.0,114461.0,1365703.0,1150397.0,991.0000,0.0,0.0,1761.0,0.0,0.0,0.0,10457145.0,0.0,0.0,1176530.0,189173.0,Well Capitalized,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,114461.0,0.0,0.0,1500000.0,0.0,2980164.0,0.0,0.0,2698.0,-14357.0,0.0,0.0,0.0,2021,2022,10732756.0,11171799.0
5,1,2022-06-30,2,MORRIS SHEPPARD TEXARKANA,TEXARKANA,TX,12427007.0,11271871.0,843.0,8686460.0,2775657.0,62705.0,1260.0,970.0,0.0,30701.0,0.0,324.0,324.0,8943.0,4342.0,8456929.0,198211.0,0.0,242.0,0.0,16288.0,88340.0,470.0,7191.0,79840.0,455.0,4789.0,5814.0,0.0,7968.0,3344.0,3233164.0,0.0,2406894.0,0.0,766144.0,355.0,0.0,1260.0,65.0,0.0,1772.0,185232.0,48995.0,30701.0,4345.0,0.0,89338.0,1280776.0,1152995.0,928.0000,0.0,0.0,1772.0,0.0,0.0,0.0,11271871.0,0.0,0.0,920367.0,360409.0,Well Capitalized,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,89338.0,0.0,0.0,2250000.0,0.0,3620114.0,0.0,0.0,2698.0,-23059.0,0.0,0.0,6876.0,2021,2022,10732756.0,11579881.5
6,1,2022-09-30,2,MORRIS SHEPPARD TEXARKANA,TEXARKANA,TX,11938810.0,10742443.0,853.0,8867328.0,4213586.0,40012.0,1272.0,1916.0,0.0,47820.0,0.0,399.0,399.0,12738.0,40738.0,8153218.0,274656.0,0.0,242.0,0.0,26521.0,134264.0,508.0,11029.0,118894.0,555.0,7044.0,8271.0,0.0,-10583.0,4674.0,3330326.0,0.0,2463106.0,0.0,785695.0,356.0,0.0,1272.0,66.0,0.0,1780.0,291951.0,73180.0,47820.0,40739.0,0.0,58148.0,1114201.0,1189391.0,996.0000,0.0,0.0,1780.0,0.0,0.0,0.0,10742443.0,0.0,0.0,1004686.0,109515.0,Well Capitalized,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58148.0,0.0,0.0,1750000.0,0.0,2922349.0,0.0,0.0,2698.0,4318.0,0.0,0.0,0.0,2021,2022,10732756.0,11335783.0
7,1,2022-12-31,2,MORRIS SHEPPARD TEXARKANA,TEXARKANA,TX,12034187.0,10822041.0,867.0,8962868.0,5121986.0,103215.0,1276.0,3915.0,0.0,67521.0,0.0,574.0,574.0,14867.0,0.0,8236403.0,367403.0,0.0,241.0,0.0,39038.0,175353.0,814.0,14400.0,159273.0,1455.0,9162.0,10775.0,0.0,-10023.0,6194.0,3274587.0,0.0,2562941.0,0.0,824349.0,350.0,0.0,1276.0,66.0,0.0,1780.0,395277.0,99310.0,67521.0,55748.0,0.0,82954.0,1350798.0,1204403.0,1001.0000,0.0,0.0,1780.0,0.0,0.0,0.0,10822041.0,0.0,0.0,987800.0,362998.0,Well Capitalized,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,82954.0,0.0,0.0,1500000.0,0.0,2933752.0,0.0,0.0,2698.0,-4113.0,0.0,0.0,33591.0,2021,2022,10732756.0,11383471.5
8,6,2021-03-31,7,THE NEW ORLEANS FIREMEN'S,METAIRIE,LA,224711943.0,198901539.0,17374.0,139306534.0,17711282.0,569741.0,26361.0,90945.0,0.0,117052.0,4960.0,419.0,659.0,323675.0,0.0,125348354.0,2928906.0,0.0,3261.0,0.0,366506.0,1552040.0,8802.0,111654.0,986233.0,46413.0,124758.0,67238.0,0.0,12000.0,19768.0,49515378.0,0.0,22007313.0,12710589.0,17786338.0,13097.0,434.0,32547.0,190.0,154.0,51936.0,2372689.0,886960.0,117052.0,122746.0,0.0,4385073.0,49642908.0,15821627.0,704.0000,0.0,0.0,46976.0,4161287.0,0.0,4161287.0,199700252.0,337708.0,32244.0,44226951.0,5415957.0,Well Capitalized,169920.0,5152914.0,301958.0,0.0,100000.0,0.0,7112104.0,0.0,0.0,4385073.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,2021,NaN,NaN
9,6,2021-06-30,7,THE NEW ORLEANS FIREMEN'S,METAIRIE,LA,226268659.0,199589537.0,17327.0,146058799.0,44703448.0,469387.0,26573.0,62621.0,0.0,214823.0,4960.0,409.0,645.0,568833.0,0.0,130867940.0,5994604.0,0.0,3291.0,0.0,730436.0,3026338.0,46974.0,228579.0,2075439.0,125414.0,304209.0,133137.0,0.0,20837.0,33677.0,51488884.0,0.0,24423774.0,13019135.0,18699832.0,13345.0,427.0,32795.0,199.0,151.0,52392.0,4785013.0,2791887.0,214823.0,1304852.0,0.0,6819490.0,38149570.0,17003733.0,751.4842,0.0,0.0,47432.0,4908408.0,0.0,4908408.0,199641129.0,589330.0,32244.0,33773091.0,4376479.0,Well Capitalized,169920.0,5016353.0,301958.0,0.0,100000.0,0.0,6611610.0,0.0,0.0,6819490.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020,2021,NaN,NaN

In [12]:
acct_desc.head()

,Account,AcctName,AcctDesc,TableName,Annualize,CBSAccount,FPRAccount,STATAcctMain,STATAcctState,STATAcctGraph,STATAcctTable8
0,ACCT_001,Amount - Total Other Loans (Purchased or to no...,Include the dollar amount of outstanding loans...,FS220A,False,True,True,True,True,False,False
1,ACCT_002,Amount of Leases Receivable,"Leases Receivable. Include the rate, number, a...",FS220A,False,False,False,False,False,False,False
2,ACCT_003,Loans Held for Sale,Loans Held for Sale. Report the amount of outs...,FS220C,False,False,False,False,False,False,False
3,ACCT_007,Land and Building,"Land and building, less depreciation on buildi...",FS220,False,True,True,True,True,False,True
4,ACCT_008,Other Fixed Assets,All other fixed assets such as furniture and f...,FS220,False,True,True,True,True,False,True